{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title"> Welcome, {{ user.username }} <br> Change Password</h3>
    <div class="box">
        <form method="POST" action="{% url "authenticate:password_change" %}">
            {% csrf_token %}
            <div class="field">
                <div class="control">
                    {{ form.old_password  | add_class:"input is-large" | add_error_class:"is-danger" | attr:"placeholder:Old Password"}}
                </div>
                {% if form.old_password.errors %}
                <ul>
                    {% for error in form.old_password.errors %}
                        <li class="help is-large is-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="field">
                <div class="control">
                    {% if form.new_password2.errors %}
                        {{ form.new_password1  | add_class:"input is-large is-danger" | attr:"placeholder:New Password"}}
                    {% else %}
                        {{ form.new_password1  | add_class:"input is-large" | attr:"placeholder:New Password"}}
                    {% endif %}
                </div>
                
            </div>

            <div class="field">
                <div class="control">
                    {{ form.new_password2  | add_class:"input is-large" | add_error_class:"is-danger" | attr:"placeholder:Repeat Password"}}
                </div>
                {% if form.new_password2.errors %}
                <ul>
                    {% for error in form.new_password2.errors %}
                        <li class="help is-large is-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Save</button>
        </form>
    </div>
</div>
{% endblock %}