{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        <form method="POST" action="{% url 'authenticate:signup' %}">
            {% csrf_token %}
            <div class="field">
                <div class="control">
                    {{ form.username  | add_class:"input is-large" | add_error_class:"is-danger" | attr:"placeholder:Login"}}
                </div>
                {% if form.username.errors %}
                <ul>
                    {% for error in form.username.errors %}
                        <li class="help is-large is-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="field">
                <div class="control">
                    {{ form.email  | add_class:"input is-large" | add_error_class:"is-danger" | attr:"placeholder:Email"}}
                </div>
                {% if form.email.errors %}
                <ul>
                    {% for error in form.email.errors %}
                        <li class="help is-large is-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="field">
                <div class="control">
                    {{ form.phone  | add_class:"input is-large" | add_error_class:"is-danger" | attr:"placeholder:Phone"}}
                </div>
                {% if form.phone.errors %}
                <ul>
                    {% for error in form.phone.errors %}
                        <li class="help is-large is-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="field">
                <div class="control">
                    {{ form.password1  | add_class:"input is-large" | add_error_class:"is-danger" | attr:"placeholder:Password"}}
                </div>
                {% if form.password1.errors %}
                <ul>
                    {% for error in form.password1.errors %}
                        <li class="help is-large is-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="field">
                <div class="control">
                    {{ form.password2  | add_class:"input is-large" | add_error_class:"is-danger" | attr:"placeholder:Repeat Password"}}
                </div>
                {% if form.password2.errors %}
                <ul>
                    {% for error in form.password2.errors %}
                        <li class="help is-large is-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form> 
    </div>
</div>
{% endblock %}